<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NumberCheck" parallel="tests" thread-count="2">
  <listeners>
    <listener class-name="com.cynnent.listeners.CustomITestListener" />
  </listeners>
  <test name="FunctionalTest_chrome">
    <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.numeracle.tests.NumberCheckTest"/>
    </classes>
  </test> 
  <test name="FunctionalTest_edge">
    <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="com.numeracle.tests.NumberCheckTest"/>
    </classes>
  </test>
</suite>
