<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
<!--         	<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t] %-5level %logger{36} - %msg%n" /> -->
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%X{driverName}] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="FileAppender" fileName="logs/application.log">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%X{driverName}] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
        <Logger name="com.cynnent" level="info" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Logger name="com.numeracle" level="info" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>
    </Loggers>
</Configuration>